<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Conditional Experiences</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script>
        $(function () {
            $('#func').load('sideBar.html')
        })
    </script>

    <style>

    </style>

</head>
<script>
    function startDate() {
        var d = new Date();
        var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        document.getElementById("dateTime").innerHTML = d.getHours() + ":" + d.getMinutes() + " at " + d.getDate() + " " + months[d.getMonth()] + " " + d.getFullYear() + "  ";
        document.getElementById("date").innerHTML = d.getDate() + " " + getMonth() + " " + d.getFullYear() + "  ";
    }
    startDate();
</script>

<body id="page-top" onload='startDate()'>

    <!-- Page Wrapper -->
    <div id="wrapper">


               <!-- Sidebar -->
        <div class="bg-gradient-primary sidebar sidebar-dark accordion">
        <ul class="navbar-nav" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <img src="../static/img/CarWashFX.png" id="logoImg"/>
                </div>
            </a>
            <!-- Heading -->
            <div class="sidebar-heading">
                Configuration
            </div>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link collapsed" href="index.html">
                    <img src="../static/img/Icon-function.png" id="icons">
                    <span>Functions</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="effects.html">
                    <img src="../static/img/Icon-effects.png" id="icons">
                    <span>Effects</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="baseExperience.html">
                    <img src="../static/img/Icon-baseExperience.png" id="icons">
                    <span>Base Experiences</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link collapsed" href="conditionalExperiences.html">
                    <i class="fas fa-fw fa-comments"></i>
                    <span>Conditional Experience</span>
                </a>
            </li>

            <br />
            <!-- Heading -->
            <div class="sidebar-heading">
                Setup
            </div>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link collapsed" href="manageSiteInfo">
                    <img src="../static/img/icon-manageSiteInfo.png" id="icons">
                    <span>Manage Site Info</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="setUpDevice.html">
                    <img src="../static/img/Icon-delegateAccess.png" id="icons">
                    <span>Set-up Device</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="settings.html">
                    <img src="../static/img/Icon-settings.png" id="smallIcons">
                    <span>Settings</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="viewDeviceStat.html">
                    <img src="../static/img/Icons-viewDeviceStat.png" id="smallIcons">
                    <span>View Device Stat</span></a>
            </li>
            <br />

            <!-- Heading -->
            <div class="sidebar-heading">
                Admin
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" href="delegateAccess.html">
                    <img src="../static/img/Icon-delegateAccess.png" id="icons">
                    <span>Delegate Access</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="knowledge.html">
                    <img src="../static/img/Icons-knowledge.png" id="smallIcons">
                    <span>Knowledge Base</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="message.html">
                    <img src="../static/img/Icon-message.png" id="smallIcons">
                    <span>Message</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <div  style="z-index: 900;" class="sidebar-footer">
                <img src="../static/img/cloudImg.png" id="sidebar-footer-img">
            </div>


        </ul>
    </div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div style="z-index: 950;" id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->

                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">
                    <div class="col">

                        <div class="square">
                            <div class="navContainer">
                                <div class="row">
                                    <!-- Sidebar Toggler (Sidebar) -->
                                    <div>
                                        <button class="fas fa-bars" id="sidebarToggle"></button>
                                    </div>
                                    <div>
                                        <h4>Wash Experience Configuration Dashboard</h4>
                                        <h6>
                                            <div id='dateTime' class="navbar-nav"></div>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle" src="../static/img/undraw_profile.svg">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">User Name</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="card shadow mb-4" style="margin: 20px;">
                        <!-- Card Body -->
                        <div class="row" style="margin-left: -0.75rem;">
                            <div class="col-lg-6 mb-6">
                                <img src="../static/img/cornerImg.png" width="15%" />
                                <div class="title-card-body">
                                    <h3>CONDITIONAL EXPERIENCES</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nulla a nam
                                        fugiat dicta tempore reiciendis sunt, facilis ducimus assumenda hic excepturi
                                        illo, natus, tempora libero veritatis animi? Inventore, aspernatur!</p>
                                    <a href="#" class="btn btn-primary" style="border-radius: 80px;">
                                        <span class="text" style="font-weight: bold;">Read More</span>
                                    </a>
                                </div>

                            </div>
                            <img src="../static/img/carImage.png" id="carImg" width="50%">
                        </div>
                    </div>
                    <div class="col">
                        <!-- Content Column -->
                        <div class="col-lg-12 mb-4">
                            <div style="text-align: right; margin-bottom: 2rem;">
                                <a href="#" class="btn btn-primary" style="border-radius: 10px; width: 20%;">
                                    <span class="text">Add New Condition</span>
                                </a>
                            </div>
                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="card">
                                        <div class="table-responsive">
                                            <table class="table align-items-center table-flush">
                                                <colgroup>
                                                    <col span="1" style="width: 10%;">
                                                    <col span="1" style="width: 29%;">
                                                    <col span="1" style="width: 22%;">
                                                    <col span="1" style="width: 22%;">
                                                    <col span="1" style="width: 13%;">
                                                 </colgroup>
                                                <thead class="thead-light">
                                                    <th>Experience Name</th>
                                                    <th>Conditional Event</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select name="effect" class="form-control dropdown bg-light"
                                                                id="effect">
                                                                <option value="0">Editor</option>
                                                                <option value="1">Viewer</option>
                                                                <option value="2">Sales Person</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <div class="card conditional-event" style>
                                                                <div class="row"
                                                                    style="margin-bottom: -2rem; justify-content: space-between;">
                                                                    <label style="margin-right: 10px;">Customer</label>
                                                                    <h6></h6>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox"
                                                                                value="A">
                                                                        </div>
                                                                        <lable>A</lable>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox"
                                                                                value="B">
                                                                        </div>
                                                                        <lable>B</lable>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox"
                                                                                value="C">
                                                                        </div>
                                                                        <lable>C</lable>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox"
                                                                                value="D">
                                                                        </div>
                                                                        <lable>D</lable>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox"
                                                                                value="E">
                                                                        </div>
                                                                        <lable>E</lable>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox"
                                                                                value="F">
                                                                        </div>
                                                                        <lable>F</lable>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox"
                                                                                value="G">
                                                                        </div>
                                                                        <lable>G</lable>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox"
                                                                                value="H">
                                                                        </div>
                                                                        <lable>H</lable>
                                                                    </div>
                                                                </div>
                                                                <div class="row"
                                                                    style="justify-content: space-between;">
                                                                    <label style="margin-right: 6px;">Wash Ops</label>
                                                                    <h6></h6>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox1"
                                                                                value="1">
                                                                        </div>
                                                                        <lable>1</lable>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox2"
                                                                                value="2">
                                                                        </div>
                                                                        <lable>2</lable>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox"
                                                                                value="3">
                                                                        </div>
                                                                        <lable>3</lable>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox"
                                                                                value="4">
                                                                        </div>
                                                                        <lable>4</lable>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox"
                                                                                value="5">
                                                                        </div>
                                                                        <lable>5</lable>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox"
                                                                                value="6">
                                                                        </div>
                                                                        <lable>6</lable>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox"
                                                                                value="7">
                                                                        </div>
                                                                        <lable>7</lable>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input position-static"
                                                                                type="checkbox" id="blankCheckbox"
                                                                                value="8">
                                                                        </div>
                                                                        <lable>8</lable>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: end;">
                                                            <div class="col">
                                                                <div id='date' class="navbar-nav"></div>
                                                                <div class="row" style="column-gap: 2rem;">
                                                                    <div style="margin-top: 5px;">
                                                                        <input type="date" class="bg-light border-0"
                                                                            id="number" value="2022-01-01" />
                                                                    </div>
                                                                    <div class="col">
                                                                        <div style="margin-bottom: -0.5rem;">
                                                                            <i class="fas fa-angle-up"></i>
                                                                        </div>
                                                                        <div>
                                                                            <i class="fas fa-angle-down"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row" style="column-gap: 2rem;">
                                                                    <div style="margin-top: 5px;">
                                                                        <input type="time" class="bg-light border-0"
                                                                            id="number" value="00:00" />
                                                                    </div>
                                                                    <div class="col">
                                                                        <div style="margin-bottom: -0.5rem;">
                                                                            <i class="fas fa-angle-up"></i>
                                                                        </div>
                                                                        <div>
                                                                            <i class="fas fa-angle-down"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: right;">
                                                            <div class="col">
                                                                <div class="row" style="column-gap: 2rem;">
                                                                    <div style="margin-top: 5px;">
                                                                        <input type="date" class="bg-light border-0"
                                                                            id="number" value="2022-01-01" />
                                                                    </div>
                                                                    <div class="col">
                                                                        <div style="margin-bottom: -0.5rem;">
                                                                            <i class="fas fa-angle-up"></i>
                                                                        </div>
                                                                        <div>
                                                                            <i class="fas fa-angle-down"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row" style="column-gap: 2rem;">
                                                                    <div style="margin-top: 5px;">
                                                                        <input type="time" class="bg-light border-0"
                                                                            id="number" value="00:00" />
                                                                    </div>
                                                                    <div class="col">
                                                                        <div style="margin-bottom: -0.5rem;">
                                                                            <i class="fas fa-angle-up"></i>
                                                                        </div>
                                                                        <div>
                                                                            <i class="fas fa-angle-down"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="incDecBtn">
                                                                <div class="row">
                                                                    <a href="#"> <img src="../static/img/Icon-15.png"
                                                                id="btn-png"></a>
                                                        <a href="#"> <img src="../static/img/Icon-13.png"
                                                                id="btn-png"></a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="card">
                                        <div class="table-responsive">
                                            <table class="table align-items-center table-flush">
                                                <thead class="thead-light">
                                                    <th>Effect Name</th>
                                                    <th>Start Delay</th>
                                                    <th>Repeat</th>
                                                    <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select name="effect" class="form-control dropdown bg-light"
                                                                id="effect" style="max-width: 75%;">
                                                                <option value="0">Editor</option>
                                                                <option value="1">Viewer</option>
                                                                <option value="2">Sales Person</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <div class="row" style="column-gap: 2rem;">
                                                                <div style="margin-top: 5px;">
                                                                    <label>00:70</label>
                                                                </div>
                                                                <div class="col">
                                                                    <div style="margin-bottom: -0.5rem;">
                                                                        <i class="fas fa-angle-up"></i>
                                                                    </div>
                                                                    <div>
                                                                        <i class="fas fa-angle-down"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="row" style="column-gap: 2rem;">
                                                                <div style="margin-top: 5px;">
                                                                    <label>3</label>
                                                                </div>
                                                                <div class="col">
                                                                    <div style="margin-bottom: -0.5rem;">
                                                                        <i class="fas fa-angle-up"></i>
                                                                    </div>
                                                                    <div>
                                                                        <i class="fas fa-angle-down"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="incDecBtn">
                                                                <div class="row">
                                                                    <a href="#"> <img src="../static/img/Icon-15.png"
                                                                id="btn-png"></a>
                                                        <a href="#"> <img src="../static/img/Icon-13.png"
                                                                id="btn-png"></a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <select name="effect" class="form-control dropdown bg-light"
                                                                id="effect" style="max-width: 75%;">
                                                                <option value="0">Editor</option>
                                                                <option value="1">Viewer</option>
                                                                <option value="2">Sales Person</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <div class="row" style="column-gap: 2rem;">
                                                                <div style="margin-top: 5px;">
                                                                    <label>00:70</label>
                                                                </div>
                                                                <div class="col">
                                                                    <div style="margin-bottom: -0.5rem;">
                                                                        <i class="fas fa-angle-up"></i>
                                                                    </div>
                                                                    <div>
                                                                        <i class="fas fa-angle-down"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="row" style="column-gap: 2rem;">
                                                                <div style="margin-top: 5px;">
                                                                    <label>3</label>
                                                                </div>
                                                                <div class="col">
                                                                    <div style="margin-bottom: -0.5rem;">
                                                                        <i class="fas fa-angle-up"></i>
                                                                    </div>
                                                                    <div>
                                                                        <i class="fas fa-angle-down"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="incDecBtn">
                                                                <div class="row">
                                                                    <a href="#"> <img src="../static/img/Icon-15.png"
                                                                id="btn-png"></a>
                                                        <a href="#"> <img src="../static/img/Icon-13.png"
                                                                id="btn-png"></a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <hr>
                                            <div class="row" style="justify-content: space-between;">
                                                <label>Last Updated: February 7,2022 Modified by: User123</label>
                                                <a href="#" class="btn btn-primary" style="border-radius: 10px; margin-right: 1rem;">
                                                    <span class="text">Add New</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../static/js/demo/chart-area-demo.js"></script>
    <script src="../static/js/demo/chart-pie-demo.js"></script>

</body>

</html>